/data/ml-1m/ratings.dat
/data/ml-1m/README
/data/ml-1m/users.dat
/data/ml-1m/movies.dat
*.xlsx
*.xls
*.doc
*.docx
项目蓝图
/practice/test/exchangePart/input1
/practice/test/exchangePart/input2016
/practice/test/exchangePart/output
/practice/test/exchangePart/output2016
/practice/test/exchangePart/pn_o_output
/practice/test/exchangePart/pn_u_output
/practice/test/exchangePart/input
/practice/test/exchangePart/excel_input
/practice/test/exchangePart/excel_output
*.csv
/chapter_14/section_14_2/data/*.dat
/practice/msd/*.txt
